
<div class="content navbarExpanded" style="overflow: hidden;">
  <div class="pt-4 border-x border-300">

    <div style="padding-left: 3rem; padding-right: 3rem;">
      <div style="display: flex; align-items: flex-end; justify-content: space-between;">
        <h3 class="main-title">Users Management</h3>
        <div class="search-box mt-3 d-flex">
          <svg width="16px" height="16px" class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"> </path> </svg>
          <input class="form-control search-input search me-2" type="search" placeholder="Filter" aria-label="Search" [(ngModel)]="filter" />
        </div>
      </div>
    </div>

    <div style="height: fit-content">

      <div class="content" style="margin-left: unset;">
        <div class="px-4  border-x border-300" style="padding-top: 2.2rem">
          <div>
            <div style="max-height: calc(100vh - 14.2rem); overflow: scroll ">
              <div>
                <div>
                  <ng-container *ngFor="let user of users | filterPipe : filter; let last = last">
                    <ng-container>
                      <div class="step-container" (click)="AddUser(user)" [ngClass]="{'last-child': last}">
                        <span style="font-size: medium; font-weight: bolder; margin-left: 0.3rem;">{{user.fullName}}</span>
                        <div>
                          <span class="badge badge-phoenix badge-phoenix-success ms-2" style="margin-right: 0.2rem;">{{user.role}}</span>
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
